
html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #000;
	color: #fff;
}

video {
	position: fixed;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 20%;
	user-select: none;
	cursor: none;
}
@media screen and (orientation:landscape) {
	video {
		object-position: 50% 10%;
	}
}
@media screen and (orientation:portrait) {
	video {
		object-position: 50% 0%;
	}
}
